body {
    padding: 0px 10px;
}

.body {
    background-color: rgb(24, 22, 27);
}

.h1 {
    color: #f0f8ff;
    font-size: 90px;
    font-family: serif, sans-serif, Verdana, Geneva, Tahoma;
    text-align: center;
}

.h2 {
    color: #f0f8ff;
    font-size: 35px;
    font-family: serif, sans-serif, Verdana, Geneva, Tahoma;
    font-style: italic;
    font-weight: bold;
}

.img {
    align-content: center;
    height: auto;
    width: 100px;
}

.index-ul, .link {
    color: #f0f8ff; 
    font-size: 30px;
    font-family: serif, sans-serif, Verdana, Geneva, Tahoma;
}

.recipe-img {
    height: auto;
    width: 300px;
}

.list {
    color: #f0f8ff;
    font-size: 17.5px;
    font-family: serif, sans-serif, Verdana, Geneva, Tahoma;
}

.p {
    color: #f0f8ff;
    font-size: 20px;
    font-family: serif, sans-serif, Verdana, Geneva, Tahoma;
}

.button {
    background-color: #f0f8ff;
    height: auto;
    width: 100px;
    height: 50px;
    font-size: large;
    font-family: serif;
    font-weight: bold;
}

div {
    margin: 20px 30px;
    padding: .5px;
    background-color: rgb(31 41 55);
    border-radius: 0.5rem;
}